

<div class="row py-2">
    <div class="col-7">
        <h4><%= appLongName %></h4>
    </div>
    <div class="col-5">
        <%= if (current_user_id) { %>
            <%= linkTo(userActivitiesPath({ user_id: current_user_id }), {class: "btn btn-outline-primary float-right", body: "My Activities"}) %>
        <% } %> 
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-4">
        <table class="table table-bordered table-striped">
            <thead class="thead-light text-center">
                <th colspan=4>Total Distance (Km)</th>
            </thead>
            <tbody>
            <%= for (i, row) in totalDistance { %>
                <tr class="<%= convertPodiumClass(i) %>">
                    <td class="align-middle text-center">#<%= i+1 %></td>
                    <td class="align-middle text-center"><%= row.User %></td>
                    <td class="align-middle text-center"><%= row.Distance %></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>

    <div class="col-sm-12 col-md-4">
        <table class="table table-bordered table-striped">
            <thead class="thead-light text-center">
                <th colspan=4>Activity Count</th>
            </thead>
            <tbody>
            <%= for (i, row) in totalCount { %>
                <tr class="<%= convertPodiumClass(i) %>">
                    <td class="align-middle text-center">#<%= i+1 %></td>
                    <td class="align-middle text-center"><%= row.User %></td>
                    <td class="align-middle text-center"><%= row.Count %></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>

    <div class="col-sm-12 col-md-4">
        <table class="table table-bordered table-striped">
            <thead class="thead-light text-center">
                <th colspan=4>Total Time</th>
            </thead>
            <tbody>
            <%= for (i, row) in totalDuration { %>
                <tr class="<%= convertPodiumClass(i) %>">
                    <td class="align-middle text-center">#<%= i+1 %></td>
                    <td class="align-middle text-center"><%= row.User %></td>
                    <td class="align-middle text-center"><%= secondsToHuman(row.Duration) %></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>


<div class="row">
    <div class="col-12 p-3">
        <canvas id="distance-chart"></canvas>
    </div>
</div>

<script src="/assets/images/color-hash.js"></script>

<script>
    var colorHash = new ColorHash();

    async function createWeeklyDistancesChart() {
        var xlabel = []
        for (i=0; i<54; i+=1){ xlabel.push(i); }

        const datasets = await getWeeklyDistancesDatasets()

        var ctx = document.getElementById('distance-chart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [...xlabel],
                datasets: datasets
            },
            options: {
                aspectRatio: 5,
                scales: {
                    yAxes: [{
                        display: true,

                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }

    async function getWeeklyDistancesDatasets(){
        const response = await fetch("/dashboard/weekly/distances", {headers: {'Content-Type': 'application/json'}});
        const userData = await response.json();
        
        var datasets = []

        Object.keys(userData).forEach(function(user, idx) {
            dataset = {
                label: user,
                data: userData[user],
                fill: false,
                backgroundColor: colorHash.hex(user),
                borderColor: colorHash.hex(user),
                borderWidth: 1,
            }
        
            datasets.push(dataset)

        });

        return datasets
    }

    createWeeklyDistancesChart();
</script>

<!-- <script>
$.get( 
    {
        url: "/dashboard/weekly/distances", 
        headers: {"Content-type": "application/json"} 
    }, 
    function( data ) {
        console.log(data);
    }
);
</script> -->