

<div class="row pt-4">
    <div class="col-7">
        <h4><%= appLongName %></h4>
    </div>
    <div class="col-5">
        <%= if (current_user_id) { %>
            <%= linkTo(userActivitiesPath({ user_id: current_user_id }), {class: "btn btn-outline-primary float-right", body: "My Activities"}) %>
        <% } %> 
    </div>
</div>

<div class="row pt-3">
    <div class="col-sm-12 col-md-4">
        <table class="table table-bordered table-striped">
            <thead class="thead-light text-center">
                <th colspan=4>Total Distance (Km)</th>
            </thead>
            <tbody>
            <%= for (i, row) in totalDistance { %>
                <tr class="<%= convertPodiumClass(i) %>">
                    <td class="align-middle text-center"><a class="btn btn-sm" href="<%= userPath({user_id: row.UserID}) %>"  style="display: block;">#<%= i+1 %></a></td>
                    <td class="align-middle text-center"><a class="btn btn-sm" href="<%= userPath({user_id: row.UserID}) %>"  style="display: block;"><%= row.User %></a></td>
                    <td class="align-middle text-center"><a class="btn btn-sm" href="<%= userPath({user_id: row.UserID}) %>"  style="display: block;"><%= row.Distance %></a></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>

    <div class="col-sm-12 col-md-4">
        <table class="table table-bordered table-striped">
            <thead class="thead-light text-center">
                <th colspan=4>Activity Count</th>
            </thead>
            <tbody>
            <%= for (i, row) in totalCount { %>
                <tr class="<%= convertPodiumClass(i) %>">
                    <td class="align-middle text-center"><a class="btn btn-sm" href="<%= userPath({user_id: row.UserID}) %>"  style="display: block;">#<%= i+1 %></a></td>
                    <td class="align-middle text-center"><a class="btn btn-sm" href="<%= userPath({user_id: row.UserID}) %>"  style="display: block;"><%= row.User %></a></td>
                    <td class="align-middle text-center"><a class="btn btn-sm" href="<%= userPath({user_id: row.UserID}) %>"  style="display: block;"><%= row.Count %></a></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>

    <div class="col-sm-12 col-md-4">
        <table class="table table-bordered table-striped">
            <thead class="thead-light text-center">
                <th colspan=4>Total Time</th>
            </thead>
            <tbody>
            <%= for (i, row) in totalDuration { %>
                <tr class="<%= convertPodiumClass(i) %>" onclick="window.location='<%= userPath({user_id: row.UserID}) %>';" style="cursor: pointer;">
                    <td class="align-middle text-center"><a class="btn btn-sm" href="<%= userPath({user_id: row.UserID}) %>"  style="display: block;">#<%= i+1 %></a></td>
                    <td class="align-middle text-center"><a class="btn btn-sm" href="<%= userPath({user_id: row.UserID}) %>"  style="display: block;"><%= row.User %></a></td>
                    <td class="align-middle text-center"><a class="btn btn-sm" href="<%= userPath({user_id: row.UserID}) %>"  style="display: block;"><%= secondsToHuman(row.Duration) %></a></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>


<nav>
    <div class="nav nav-tabs small" id="nav-tab" role="tab">
        <a class="nav-item nav-link active" id="nav-cumulative-tab" data-toggle="tab" href="#nav-cumulative" role="tab" aria-controls="nav-cumulative" aria-selected="true">Cumulative</a>
        <a class="nav-item nav-link" id="nav-weekly-tab" data-toggle="tab" href="#nav-weekly" role="tab" aria-controls="nav-weekly" aria-selected="false">Weekly</a>
    </div>
</nav>

<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-cumulative" role="tabpanel" aria-labelledby="nav-cumulative-tab">
        <div class="row p-3">
            <div class="col-12">
                <canvas id="cumulative-distance-chart"></canvas>
            </div>
        </div>
        <div class="row p-3">
            <div class="col-12">
                <canvas id="cumulative-counts-chart"></canvas>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-weekly" role="tabpanel" aria-labelledby="nav-weekly-tab">
        <div class="row p-3">
            <div class="col-12">
                <canvas id="distance-chart"></canvas>
            </div>
        </div>
        <div class="row p-3">
            <div class="col-12">
                <canvas id="counts-chart"></canvas>
            </div>
        </div>
    </div>
</div>



<script src="/assets/js/color-hash.js"></script>
<script src="/assets/js/dashboard.js"></script>

