<div class="row pt-3">
    <div class="col-sm-12 col-md-4">
        <table class="table table-bordered table-striped">
            <thead class="thead-light text-center">
                <th colspan=4>Biggest Run (Km)</th>
            </thead>
            <tbody>
            <%= for (i, row) in mostDistance { %>
                <tr class="<%= convertPodiumClass(i) %>">
                    <td class="align-middle text-center"><a class="btn btn-sm" href="<%= userPath({user_id: row.UserID}) %>"  style="display: block;">#<%= i+1 %></a></td>
                    <td class="align-middle text-center"><a class="btn btn-sm" href="<%= userPath({user_id: row.UserID}) %>"  style="display: block;"><%= row.User %></a></td>
                    <td class="align-middle text-center"><a class="btn btn-sm" href="<%= userPath({user_id: row.UserID}) %>"  style="display: block;"><%= metersToKm(row.Distance) %></a></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>

    <div class="col-sm-12 col-md-4">
        <table class="table table-bordered table-striped">
            <thead class="thead-light text-center">
                <th colspan=4>Longest Run</th>
            </thead>
            <tbody>
            <%= for (i, row) in mostDuration { %>
                <tr class="<%= convertPodiumClass(i) %>">
                    <td class="align-middle text-center"><a class="btn btn-sm" href="<%= userPath({user_id: row.UserID}) %>"  style="display: block;">#<%= i+1 %></a></td>
                    <td class="align-middle text-center"><a class="btn btn-sm" href="<%= userPath({user_id: row.UserID}) %>"  style="display: block;"><%= row.User %></a></td>
                    <td class="align-middle text-center"><a class="btn btn-sm" href="<%= userPath({user_id: row.UserID}) %>"  style="display: block;"><%= secondsToHuman(row.Duration) %></a></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>

</div>
