<div class="pt-4">
  <h3 class="d-inline-block"><%= user.Name %>'s Activities</h3>
  <div class="float-right">
    <%= linkTo(rootPath(), {class: "btn btn-outline-primary", body: "Home"}) %>
    <%= linkTo(userSyncPath({ user_id: user.ID }), {class: "btn btn-outline-warning", body: "Sync"}) %>
    <%= linkTo(userPath({ user_id: user.ID }), {class: "btn btn-outline-success", body: "Stats"}) %>
  </div>
  
</div>

<div class="table-responsive py-3">
  <table class="table table-hover table-bordered">
    <thead class="thead-light text-center">
      <th>Activity</th>
      <th>Type</th>
      <th>Name</th>
      <th>Distance</th>
      <th>Moving Time</th>
      <th>Elapsed Time</th>
      <th>Speed (Km/h)</th>
      <th>Pace (min/Km)</th>
      <th>Date</th>
    
    </thead>
    <tbody>
      <%= for (activity) in activities { %>
        <tr <%= if (activity.Type != "Run") { %> style="text-decoration: line-through;" <% } %>>
          <td class="align-middle"><a href="https://www.strava.com/activities/<%= activity.ProviderID %>" target=_blank><%= activity.ProviderID %></a></td>
          <td class="align-middle"><%= activity.Type %></td>
          <td class="align-middle"><%= activity.Name %></td>
          <td class="align-middle"><%= metersToKm(activity.Distance) %></td>
          <td class="align-middle"><%= secondsToHuman(activity.MovingTime) %></td>
          <td class="align-middle"><%= secondsToHuman(activity.ElapsedTime) %></td>
          <td class="align-middle"><%= speed(activity.Distance, activity.MovingTime) %></td>
          <td class="align-middle"><%= pace(activity.Distance, activity.MovingTime) %></td>
          <td class="align-middle"><%= activity.Datetime.Format("2006-01-02 15:04") %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
