
<div class="py-4">
  <h3 class="d-inline-block"><%= user.Name %></h3>

  <div class="float-right">
    <%= linkTo(rootPath(), {class: "btn btn-outline-primary", body: "Home"}) %>
    <%= linkTo(userSyncPath({ user_id: user.ID }), {class: "btn btn-outline-warning", body: "Sync"}) %>
    <%= linkTo(userActivitiesPath({ user_id: user.ID }), {class: "btn btn-outline-success", body: "Activities"}) %>
  </div>
</div>


<nav>
  <div class="nav nav-tabs small" id="nav-tab" role="tab">
      <a class="nav-item nav-link active" id="nav-valid-activities-tab" data-toggle="tab" href="#nav-valid-activities" role="tab" aria-controls="nav-valid-activities" aria-selected="true">Valid Activities</a>
      <a class="nav-item nav-link" id="nav-all-activities-tab" data-toggle="tab" href="#nav-all-activities" role="tab" aria-controls="nav-all-activities" aria-selected="false">All Activities</a>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-valid-activities" role="tabpanel" aria-labelledby="nav-valid-activities">

    <p class="small my-0">Includes only activities of type Run and with Elapsed Duration greater than 15 min</p>
    <div class="row py-3">
      
      <div class="col-xs-6 col-sm-4 col-md-3 py-2">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Strava User</h4>
            <p class="card-text"><a href="https://www.strava.com/athletes/<%= user.ProviderID %>"><%= user.ProviderID %></a></p>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3 py-2">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Total Distance</h4>
            <p class="card-text"><%= metersToKm(validActivitiesStats.Distance) %> Km</p>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3 py-2">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Total Activities</h4>
            <p class="card-text"><%= validActivitiesStats.Count %></p>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3 py-2">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Total Time</h4>
            <p class="card-text"><%= secondsToHuman(validActivitiesStats.ElapsedDuration) %></p>
          </div>
        </div>
      </div>

      
      <div class="col-xs-6 col-sm-4 col-md-3 py-2">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Biggest Activity</h4>
            <p class="card-text"><%= metersToKm(validActivitiesStats.MostDistance) %> Km</p>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3 py-2">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Longest Activity</h4>
            <p class="card-text"><%=  secondsToHuman(validActivitiesStats.MostElapsedDuration) %></p>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3 py-2">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Average Speed</h4>
            <p class="card-text"><%= speed(validActivitiesStats.Distance, validActivitiesStats.MovingDuration) %> Km/h</p>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3 py-2">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Average Pace</h4>
            <p class="card-text"><%= pace(validActivitiesStats.Distance, validActivitiesStats.MovingDuration) %> min/Km</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="tab-pane fade" id="nav-all-activities" role="tabpanel" aria-labelledby="nav-all-activities">
    
    <p class="small my-0">Includes all activities (do NOT limit by type Run and with Elapsed Duration greater than 15 min)</p>
    <div class="row py-3">
    
      <div class="col-xs-6 col-sm-4 col-md-3 py-2">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Strava User</h4>
            <p class="card-text"><a href="https://www.strava.com/athletes/<%= user.ProviderID %>"><%= user.ProviderID %></a></p>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3 py-2">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Total Distance</h4>
            <p class="card-text"><%= metersToKm(allActivitiesStats.Distance) %> Km</p>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3 py-2">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Total Activities</h4>
            <p class="card-text"><%= allActivitiesStats.Count %></p>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3 py-2">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Total Time</h4>
            <p class="card-text"><%= secondsToHuman(allActivitiesStats.ElapsedDuration) %></p>
          </div>
        </div>
      </div>

      
      <div class="col-xs-6 col-sm-4 col-md-3 py-2">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Biggest Activity</h4>
            <p class="card-text"><%= metersToKm(allActivitiesStats.MostDistance) %> Km</p>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3 py-2">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Longest Activity</h4>
            <p class="card-text"><%=  secondsToHuman(allActivitiesStats.MostElapsedDuration) %></p>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3 py-2">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Average Speed</h4>
            <p class="card-text"><%= speed(allActivitiesStats.Distance, allActivitiesStats.MovingDuration) %> Km/h</p>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3 py-2">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Average Pace</h4>
            <p class="card-text"><%= pace(allActivitiesStats.Distance, allActivitiesStats.MovingDuration) %> min/Km</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>